@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');

* {
    margin: 0;
}
body {
    font-family: "Montserrat";
    font-size: 24px;
    background-image: url(img/bg.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.input {
    font-family: "Montserrat";
    font-size: 36px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 3px solid black;
    padding: 3px;
    margin: 15px;
    margin-left: 50px;
    margin-top: 60px;
    background-color: rgb(240, 240, 240);
    transition: 1s ease;
    opacity: 0.9;
}
.metaform {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.input:hover {
    transform:translateX(4px);
    padding: 4px;
    -webkit-box-shadow: 7px 7px 15px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 7px 7px 15px -6px rgba(0, 0, 0, 0.2);
    box-shadow: 7px 7px 15px -6px rgba(0, 0, 0, 0.2);             /*Веб сайт: https://active-vision.ru/icon/box-shadow/*/
}
.text {
    margin-left: 40px;
    margin-top:30px;
}
.btns {
    align-items: center;
    display: inline-flex;
    gap: 8px;
}
.btn__start {
    padding:10px;
    background: rgb(166, 241, 53);
    border-radius: 10px;
    border: 3px solid;
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    top: 263px;
    left: 500px;
    transition: transform 1s cubic-bezier(.07,.75,.47,1.01);
    width: 230px;
    user-select: none;
}
.btn__start:hover {
    cursor: pointer;
    transform: scale(1.08);
    background-color: rgb(176, 228, 98) ;
    border-radius: 13px;
    
}
.list {
    margin: 20px;
    font-size: 28px;
    font-weight: 600;
    width: 400px;
    min-height: 60px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    user-select:none;
}
.tempDiv {
    display: flex;
    flex-wrap: wrap;
}
.btn__delete {
    padding:10px;
    background: rgb(243, 62, 62);
    border-radius: 10px;
    border: 3px solid;
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    top: 263px;
    left: 800px;
    transition: transform 1s cubic-bezier(.07,.75,.47,1.01);
    width: 230px;
    user-select: none;
}
.btn__delete:hover {
    cursor: pointer;
    transform: scale(1.08);
    background-color: rgb(201, 55, 55) ;
    border-radius: 13px;
}
.svg {
    order: -1;
    width: 25px;
    height: 30px;
}

.instruction {
    font-size: 16px;
    margin: 5px;
    color: rgb(180, 180, 180);
    border: 2px solid black;
    width: 350px;
    border-radius: 3px;
}
.instruction:hover {
    cursor:crosshair;
    background-color: rgb(241, 240, 240);
}
#none { 
    padding:10px;
    background-image: url(img/Elka.webp);
    background-position: center;
    background-size: cover;
    border-radius: 7px;
    color: aliceblue;
    border: 3px solid;
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    top: 1px;
    left: 1600px;
    transition: 0.9s ease;
    width: 200px; 
    animation-name: noneAnim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    /* абсолютно ничего не делает?*/
}
.bas {
    border: 3px solid rgb(105, 105, 105);
    border-radius:18px ;
    background-image: url(img/minibg.webp);
    background-size: cover;
    opacity: 0.93;
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease-in-out;
    width: 1550px;
}
.console {
    padding: 10px;
    opacity: 0.7;
    font-size: 28px;
    font-weight: 450;
    user-select: none;
}
.togglebtn {
    padding:10px;
    background: rgba(107, 6, 6, 0.74);
    border-radius: 7px;
    border: 2px solid;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 10px;
    left: 770px;
    transition: .6s ease;
    width: 290px;
    height: 40px;
    text-align: center;
}
.togglebtn:hover {
    cursor: pointer;
    filter: opacity(0.8);
    background-color:rgba(65, 5, 5, 0.74) ;
    height: 70px;
}
.togglebtn:hover::after {
    content: ' (подарок от деда мороза?)';
}
@keyframes noneAnim {
    0% { width: 200px;
        height: 60px;
        background-position: inherit;
    }
    25% {width: 220px;
    height: 65px;
    font-size: 18px;
    background-position-y: 100px;
    }
    50% {width: 240px;
        height: 70px;
        font-size: 32px;
        background-position: center;
    }
    75% {width: 220px;
        height: 65px;
        font-size: 18px;
        background-position: bottom;
    }
    100% {width: 200px;
        height: 60px;
        background-position: inherit;
    }

}
@media screen and (max-width: 1020px) {
    .input { width: 230px;
            height: 35px;
            margin-top: 70px;
            font-size: 28px;
    }
    .btn__start {
        width: 200px;
        font-size: 22px;
        left: 370px;
    }
    .btn__delete {
        width: 200px;
        font-size: 22px;
        left: 620px;
    }
    .text {
        font-size: 18px;
        margin-top: 20px;
        margin-left: 30px;
    }
    .togglebtn {
        width: 250px;
        height: 35px;
        left: 450px
    }
    .instruction {
        margin: 4px;
        width: 330px;
        font-size: 14px;
    }
    .list {
        font-size: 24px;
        padding-left: 50px;
        margin: 15px;
    }
    #none {
        display: none;
    }

}
@media screen and (max-width: 550px) {
    body {
        max-width: 550;
    }
    .console {
        font-size: 20px;
    }
    .input { width: 240px;
            height: 32px;
            margin-top: 43px;
            font-size: 18px;
            margin-left: 100px ;
    }
    .btn__start {
        width: 130px;
        font-size: 13px;
        left: 180px;
        top: 470px
    }
    .btn__delete {
        width: 130px;
        font-size: 13px;
        left: 180px;
        top: 535px;
    }
    .text {
        font-size: 15px;
        margin-top: 15px;
        margin-left: 100px;
        max-width: 240px;
    }
    .togglebtn {
        width: 250px;
        height: 35px;
        left: 450px;
        display: none;
    }
    .instruction {
        display: none;
    }
    .list {
        font-size: 16px;
        padding-left: 1px;
    }
    .bas {
        max-width: 390px;
        width: 350px;
        margin-top: 170px;
    }
    #none {
        display: none;
    }

}
@media screen and (max-width: 250px) {
    .list {
        font-size: 12px;
        width: 110%;
    }
    .bas {
        margin-top: 205px;
    }
    .btn__delete {
        top: 585px;
    }
    .btn__start {
        top: 520px;
    }
}